<div class="particles">
  <!-- Randomly generated particles -->
  <div style="top: 10%; left: 20%; width: 10px; height: 10px"></div>
  <div style="top: 50%; left: 40%; width: 15px; height: 15px"></div>
  <div style="top: 30%; left: 80%; width: 20px; height: 20px"></div>
  <div style="top: 70%; left: 60%; width: 8px; height: 8px"></div>
  <div style="top: 80%; left: 30%; width: 12px; height: 12px"></div>
</div>
<header>
  <div class="sub-container">
    <!-- Left Content -->
    <div class="header">
      <h1 class="display">
        Simplest Online Compiler in India -
        <span class="typing-effect">Code Smith</span>
      </h1>
      <p class="leads">
        Write, Compile, and Run Code Instantly with Code Smith – Your Secure and
        User-Friendly Platform for Seamless Coding and Collaboration.
      </p>

      <!-- CTA Buttons -->
      <div class="btns">
        <a
          (click)="create()"
          class="btn btn-light btn-lg me-3"
          mat-raised-button
        >
          Let's Code</a
        >
      </div>
    </div>
    @if(compiles.length === 0){
    <div class="header-img">
      <img src="/isolated.png" alt="Software Dashboard" />
    </div>
    }@else {

    <div class="content-wrapper">
      @for(compile of compiles; track compile){
      <div class="fiddle-card">
        <div class="title">{{ compile.name }}</div>
        <div class="actions">
          <button
            [routerLink]="['/coding', compile.compilerid]"
            mat-icon-button
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="delete(compile.compilerid)" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>

    }
  </div>
</header>
